<h1>Anteproyecto</h1>
<button type="button" class="btn btn-outline-primary regresar" [routerLink]="['/home/items']">Regresar</button>
<form class="row g-3">
  <div class="col-md-4">
    <label for="validationDefault01" class="form-label">Titulo</label>
    <input type="text" class="form-control" id="validationDefault01" placeholder="Ingresa el titulo del anteproyecto" required>
  </div>
  <div class="col-md-6">
    <label for="validationDefault03" class="form-label">Descripción</label>
    <input type="text" class="form-control" id="validationDefault03" placeholder="Ingresa una breve descripción" required>
  </div>
  <div class="col-md-4">
    <label for="validationDefault03" class="form-label">Objetivo general</label>
    <input type="text" class="form-control" id="validationDefault03" placeholder="Ingresa el objetivo general" required>
  </div>
  <div class="col-md-6">
    <label for="validationDefaultUsername" class="form-label">Hipotesis</label>
      <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
  </div>
  <div class="col-md-4">
    <label for="validationDefault02" class="form-label">Plantamiento</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
  </div>
  <div class="col-md-4">
    <label for="validationDefault02" class="form-label">Justificación</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
  </div>
  <div class="col-md-6">
    <label for="validationDefault05" class="form-label">Sugerencias</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
  </div>
  <div class="col-12">
    <button class="btn btn-dark" type="submit">Crear anteproyecto</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Correciones
    </button>
  </div>
<!-- Button trigger modal -->
</form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <label for="validationDefault05" class="form-label">Escribir sugerencias</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>
